.main {
    width: 1000px;
    margin: 100px auto;  
}


.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and  (max-width: 1028px) {
    .grid_container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .main {
        width: auto;
    }
}

@media screen and  (max-width: 920px) {
    .grid_container {
        grid-template-columns: 1fr 1fr;
    }

    .main {
        width: auto;
    }
    
}

@media screen and  (max-width: 768px) {
    .grid_container {
        grid-template-columns: 1fr;
    }

    .main {
        width: auto;
    }

    
}