.main {
    width: 80%;
    margin: 0 auto;
    padding: 100px 40px;
    background-color: white;
}


.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media screen and  (max-width: 1520px) {
    .grid_container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .main {
        width: 90%;
    }
}

@media screen and  (max-width: 1160px) {
    .grid_container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and  (max-width: 920px) {
    .grid_container {
        grid-template-columns: 1fr 1fr;
    }

    .main {
        width: 95%;
    }
    
}

@media screen and  (max-width: 600px) {
    .grid_container {
        grid-template-columns: 1fr;
    }

    
}